@import '../variables';
@import '../mixins';

.recipes {
  @include flex($ff: column nowrap);
  gap: 1rem;
}

.container {
  display: grid;
  gap: 2rem;
  margin: auto;

  @include sm {
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }

  @include lg {
    margin: 0;
  }
}
