@import '../../assets/scss/mixins';

.container {
  $header-height: 8rem;
  $footer-height: 5rem;

  @include layout($header-height auto $footer-height, 'header' 'main' 'footer', 100vh);

  > header {
    position: fixed;
    width: 100%;  
    grid-area: header;
    height: $header-height;
    z-index: 100;
  }

  > main {
    width: 100%;
    max-width: 90rem;
    margin: 0 auto;
    padding: 2rem;
    grid-area: main;
  }

  > footer {
    grid-area: footer;
    height: $footer-height;
  }
}
