@import '../../assets/scss/mixins';
@import '../../assets/scss/variables';

.container {
  @include flex(center, space-between);
  background-color: $main-color;
  color: $secondary-color;
  font-weight: 600;
  padding: 2rem;
}
