@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.field_container {
  @include flex($ff: column nowrap, $gap: 0.5rem);

  textarea {
    height: 2.5rem;
    min-height: 2.5rem;
    resize: vertical;
  }
}

.label {
  @include text($fs: 1.1rem, $fw: 600);
  position: relative;
  width: fit-content;
}

.field:not([type='file']) {
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 0.1rem solid $secondary-color;
}

.file-field__container {
  margin-block-end: 1rem;

  input[type='file'] {
    display: none;
  }

  :is(.field) {
    @include button($bg: $main-color, $color: $secondary-color);
    width: fit-content;
  }
}

.file-field__container--disabled {
  :is(.field) {
    cursor: not-allowed;
    background-color: #ccc;
    border-color: #ccc;

    &:hover {
      background-color: #ccc;
      border-color: #ccc;
      color: $secondary-color;
    }
  }
}

.difficulty_container {
  @include flex($ff: row nowrap, $justify: flex-start, $gap: 0.5rem);

  .label {
    font-size: 1.5rem;
    color: $color-gray-700;
    @include flex(center, center);
  }

  .difficulty {
    display: none;

    &--easy {
      color: $easy;
    }

    &--medium {
      color: $medium;
    }

    &--hard {
      color: $hard;
    }
  }
}

.rating_container {
  @include flex($ff: row nowrap, $gap: 0);

  .label {
    color: gold;
    font-size: 1.5rem;
    @include flex(center, center);
  }

  .rating {
    display: none;

    &--selected {
      color: gold;
    }
  }
}

.field_container--checkbox {
  @include flex($ff: row nowrap, $gap: 0.5rem);
}

.preview {
  @include flex($ff: row wrap, $gap: 0.5rem);
  width: fit-content;

  &__item {
    position: relative;
  }

  img {
    width: 16rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 0.25rem;
  }
}

.preview__button {
  @include flex(center, center);
  @include text(1.2rem, $color: $light-text-color);
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 1.75rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: none;
  box-shadow: 1px 1px 0.25rem rgba(0, 0, 0, 0.5);
  background-color: $hard;
  cursor: pointer;
}

span.error {
  @include error;
}
